.divBoton {

    align-items: center;
    position: absolute;
    margin-top: 110px;
}

.boton {
    font-size: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 10 px rgba(0, 0, 0, 0.4);
    color: white;
    background-color: $colorPrimario;

}

.boton:hover {
    background-color: black;

}