
.claseUbicacion {
    background-color: midnightblue;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: ghostwhite;
    
    }
    
    
    .claseContacto {
    background-color: beige;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(13, 13, 243);
    }
    