.imagen {
    background-image: url(../imagenes/hall.png);  
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    }
    
    
    .imgContacto {  
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 90%;
      display: flex;
      justify-content: center;
    }
    .imgTrabaja{
    
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 90%;
      display: flex;
      justify-content: center;
    
    }
    
    .imagenUbi {
    
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 90%;
      display:flex;
      justify-content:center
    
    }