.fondo {
  background-color: cadetblue;
}

.quienesSomos {
  background-image: url(../imagenes/hall.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 1rem;
  color: navy;
}

section {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}